In [1]:
import pandas as pd

In [2]:
s = pd.Series([54,76,76,77,55,87,89,67,67,67,87,67])

In [3]:
type(s)

pandas.core.series.Series

In [4]:
print(s)

0     54
1     76
2     76
3     77
4     55
5     87
6     89
7     67
8     67
9     67
10    87
11    67
dtype: int64

In [5]:
s2 = pd.Series([54,76,76,77,55,87,89,67,67], index=["raju", "kaju","sita", "gita", "rita","bablu", "dablu","rachin", "sachin"])

In [6]:
s2

raju      54
kaju      76
sita      76
gita      77
rita      55
bablu     87
dablu     89
rachin    67
sachin    67
dtype: int64

In [7]:
s2["raju"]

54

In [8]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

In [10]:
df = pd.DataFrame(data)

In [11]:
df

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.columns

Index(['name', 'age', 'city'], dtype='object')