In [1]:
import pandas as pd

In [3]:
s1 = pd.Series([56,76,87,87,65,97,90])

In [4]:
type(s1)

pandas.core.series.Series

In [5]:
print(s)

0    56
1    76
2    87
3    87
4    65
5    97
6    90
dtype: int64

In [7]:
s2 = pd.Series([56,76,87,87,65,97,90], index = ["Raju", "bheem", "shreya", "aman", "santosh", "motu", "divya"])

In [8]:
s2

Raju       56
bheem      76
shreya     87
aman       87
santosh    65
motu       97
divya      90
dtype: int64

In [11]:
s2["shreya"]

np.int64(87)

In [12]:
s2["santosh"]

np.int64(65)

In [13]:
data = {
    "name": ["raju", "bheem", "motu"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

In [14]:
df = pd.DataFrame(data)
print(df)

    name  age       city
0   raju   25      Delhi
1  bheem   30     Mumbai
2   motu   35  Bangalore

In [15]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
df.columns

Index(['name', 'age', 'city'], dtype='object')